* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 800;
}

/* ////////////////////////////////////////////////////////// */
/* Pagina Inicial */

.caixa-principal {
    height: 100vh;
    width: 100%;
    background-color: rgb(33, 29, 29);
    background-image: url(/img/programador-removebg-preview.png);
    background-repeat: no-repeat;
    background-size: 500px;
    background-position: center right 200px;

}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 25px;
}

.portifolio {
    color: white;
    font-size: 60px;
}

a {
    color: white;

}

a:hover {
    color: #f9004d;
    transition: 0.5s;
}

.portifolio span {
    color: #f9004d;

}

li {
    color: white;
    list-style: none;
    display: inline-block;
    font-size: 20px;
    margin-right: 30px;
    cursor: pointer;
}

li:hover {
    color: #f9004d;
    transition: 0.5s;
}

.meu-nome {
    position: absolute;
    top: 50%;
    left: 8%;
}

h1 {
    color: white;
    font-size: 7em;
}

h1 span {
    color: #f9004d;
}

.meu-nome h3 {
    color: white;
    font-size: 25px;
}

a {
    text-decoration: none;
}


/* /////////////////////////////////////////////////////////////// */
/* Sobre Mim */

section {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 60px 10%;
    background-color: #000000;

}

section img {
    height: 250px;
    border-radius: 250px;
    border: 2px solid white;
    margin-right: 25px;

}

section div h2 {
    color: white;
    font-size: 70px;
}

section div p {
    color: #e6c4cf;
    font-size: 24px;
    margin-top: 30px;
    margin-bottom: 60px;
}

#btnSobreMim {
    color: white;
    background: #f9004d;
    height: 40px;
    width: 250px;
    border-radius: 20px;
    font-size: 25px;
    border: none;
    cursor: pointer;
    justify-content: center;
    display: flex;
    align-items: center;
}


#btnSobreMim:hover {
    background-color: black;
    border: 3px solid #f9004d;
    transition: 0.5s;
}

/* //////////////////////////////////////////////// */
/* Meus Projetos */

.projetos {
    background-color: #191919;
    padding-top: 50px;
    padding-bottom: 100px;

}

.projetos h2 {
    color: white;
    font-size: 75px;
    text-align: center;
}

.card {
    background-color: black;
    height: 365px;
    width: 335px;
    border-radius: 20px;
    padding: 20px 35px;
    text-align: center;
    
}

#ref{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.card img {
    height: 100px;
}

.card h5 {
    color: white;
    font-size: 24px;
}

.card p {
    color: #e6c4cf;
    margin-top: 20px;
    margin-bottom: 40px;
}

.card a {
    background-color: #f9004d;
    color: white;
    padding: 10px 20px;
    border-radius: 25px;
    cursor: pointer;
    text-decoration: none;
    width: 150px;
}

.card a:hover {
    background-color: transparent;
    border: 2px solid #f9004d;
    transition: 0.5s;
}

.card-projetos {
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
}


/* ///////////////////////////////////////////////////////////////////////////////// */
/* Rodape */

footer {
    background-color: #000000;
    padding-top: 100px;
    padding-bottom: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer h5 {
    color: white;
    font-size: 30px;
}

footer p {
    color: white;
    font-size: 18px;
    margin-bottom: 30px;
    margin-top: 15px;
}

.social {
    display: flex;
    gap: 20px;
}

.social img {
    height: 30px;
    border-radius: 50%;
}

.social a {
    background-color: #f9004d;
    border-radius: 50%;
    display: flex;
    align-items: center;
    height: 50px;
    width: 50px;
    justify-content: center;
    cursor: pointer;

}

.social a:hover {
    transform: scale(1.3);
    transition: 0.5s;
}

